version: "3.3"

services:
  mysql:
    image: mysql:9
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: "${DB_DATABASE}"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  webapp:
    image: chaitanyachandra/app:latest
    container_name: webapp
    ports:
      - "8000:8080"   # map external 8000 to container's 8080
    environment:
      DB_Host: "${DB_HOST}"
      DB_User: "${DB_USER}"
      DB_Database: "${DB_DATABASE}"
      DB_Password: "${DB_PASSWORD}"
    depends_on:
      - mysql
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
