---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    owner: Chaitanya Chandra
    email: ChandraChaitanya@icloud.com
  name: app-secret
data:
    DB_Host: bXlzcWw=
    DB_User: cm9vdA==
    DB_Password: cGFzc3dvcmQ=
    DB_Database: bXlkYg==

---
kind: Service
apiVersion: v1
metadata:
  annotations:
    owner: Chaitanya Chandra
    email: ChandraChaitanya@icloud.com
  name: webapp-service
spec:
  selector:
    name: webapp
  ports:
  - port: 8000
    targetPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  clusterIP: None   # This makes it headless
  selector:
    name: mysql
  ports:
    - port: 3306
      targetPort: 3306

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    owner: Chaitanya Chandra
    email: ChandraChaitanya@icloud.com
  labels:
    name: mysql
  name: mysql-statefulset
spec:
  serviceName: "mysql"
  replicas: 1
  selector:
    matchLabels:
      name: mysql
  template:
    metadata:
      labels:
        name: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:9
          ports:
            - containerPort: 3306
              protocol: TCP
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_Database
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_Password

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    owner: Chaitanya Chandra
    email: ChandraChaitanya@icloud.com
  labels:
    name: webapp
  name: webapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      name: webapp
  template:
    metadata:
      labels:
        name: webapp
    spec:
      containers:
        - name: webapp
          image: chaitanyachandra/app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
          env:
            - name: ENVIRONMENT
              value: "dev"
            - name: APP_VERSION
              value: "3.0 - latest"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: SERVICE_ACCOUNT
              valueFrom:
                fieldRef:
                  fieldPath: spec.serviceAccountName
            - name: CPU_LIMIT
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu
            - name: MEMORY_LIMIT
              valueFrom:
                resourceFieldRef:
                  resource: limits.memory
