[Unit]
Description = spec Service

[Install]
WantedBy=multi-user.target

[Service]
User=spec
ExecStart=/usr/bin/node index.js
SyslogIdentifier=spec
WorkingDirectory=/home/spec/app
# StandardOutput=syslog
# StandardError=syslog